---
const { title, contact, footer } = Astro.props;
---

<footer class="text-text-200 text-xs md:-my-4 px-10 w-full text-center md:flex justify-between opacity-40">
	<p>{title} © <script is:inline>document.write(new Date().getFullYear());</script></p>
	<p>Phone: {contact.phone}</p><p>Mail: {contact.mail} </p>
	<a class="font-semibold" href={footer.madeByUrl} alt=`visit ${footer.madeBy}` target="_blank" rel="noopener noreferrer">{footer.madeBy}</a>
</foooter>